<!-- quiz sidebar -->
<form [formGroup]="questionsForm" (ngSubmit)="onSubmit()" class="d-flex justify-content-between h-100">
  <div class="d-flex h-100" style="width: 180px; background-color: '#F8F8F8';">
    <div class="d-flex flex-column justify-content-between mb-5 w-100">
      <div class="d-flex flex-column">
        <!-- question 1 of 10 -->
        <div class="text-center blue py-3 mb-4">
          Question 1 of 10
        </div>
        <a routerLink="/profile" class="p-2 mb-5 text-center return">return to profile</a>
        <div formArrayName="questions">
          <!-- quiz number -->
          <div class="d-flex align-items-center flex-wrap w-100 mb-5">
            <div *ngFor="let quiz of questionArray.controls; let i=index" [formGroupName]="i"
              class="col-4 d-flex justify-content-center mb-4">
              <input (click)="currentQuiz=i" [ngClass]="{size__color: currentQuiz==i}" class="size text-center"
                formControlName="questionId">
              <!-- <div class="size" formControlName="questionId"></div> -->
            </div>
          </div>
          <!-- type of quiz -->
          <div class="text-center">
            <div class="mb-1">
              Select the type of quiz:
            </div>
            <!--  formControlName="quizType" -->
            <div *ngFor="let quiz of questionArray.controls; let i=index" [formGroupName]="i">
              <!-- определяем какой будет отображаться questionType -->
              <div *ngIf="currentQuiz==i">
                <select class="w-75" formControlName="questionType">
                  <option *ngFor="let type of questionTypes | keyvalue">
                    {{ type.value }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- settings, logout -->
      <ul class="nav nav-pills flex-column">
        <li class="mb-2">
          <a routerLink="/settings" routerLinkActive="active" class="nav-link link-dark">
            <img src="\assets\images\icons\settings_black_24dp.svg" alt="image">
            Settings
          </a>
        </li>
        <li class="mb-2">
          <a routerLink="/auth/login" class="nav-link link-dark">
            <img src="\assets\images\icons\logout_black_24dp.svg" alt="image">
            Log out
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--  -->
  <div class="m-5 w-100">
    <h1 class="mb-5 text-center">Create quiz</h1>
    <div class="d-flex justify-content-between">
      <div>
        <!-- forms + inputs -->
        <div>
          <!-- answerId -->
          <div class="mb-4" formArrayName="questions">
            <div *ngFor="let quiz of questionArray.controls; let i=index" [formGroupName]="i">
              <div *ngIf="currentQuiz==i">
                <span class="h4 text__input me-4">
                  Write a question
                </span>
                <!-- определяем какой будет отображаться questionType -->
                <input type="text" formControlName="questionText" class="mb-4">
                <!-- answers value -->
                <div class="d-flex flex-column" formArrayName="answers">
                  <!-- <div class="text__input me-4">
                    Field {{i}}
                  </div> -->
                  <div [formGroupName]="j" *ngFor="let answer of getAnswers(quiz); let j=index">
                    <div class="d-flex justify-content-between mb-4">
                      <div class="text__input me-4">
                        Field {{j+1}}
                      </div>
                      <input type="text" formControlName="value">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text__input">
          <div></div>
          <button type="submit">Next</button>
        </div>
      </div>
    </div>
  </div>

  <!-- radio buttons -->
  <!-- 
<button (click)="click()">1</button>


<div class="m-5">
  <div>
    <input type="radio" name="contact" value="phone">
    Ответ 5
  </div>
  <div>
    <input type="radio" name="contact" value="phone">
    4
  </div>
</div> -->
</form>
