<div class="m-5">
  <!-- Search -->
  <div class="col-xl-4 col-6">
    <div class="mb-5 input-group input-group-merge">
      <input type="search" class="form-control" placeholder="Найти проект" [formControl]="searchProject">
      <div class="input-group-append">
        <span class="input-group-text">
          <img src="/assets/images/icons/search_black_24dp.svg" alt="search" class="svg">
        </span>
      </div>
    </div>
  </div>
  <h2 class="mb-5">All Announcment</h2>
  <!-- Cards -->
  <div *ngIf="announcements" class="row flex-wrap card-deck">
    <div *ngFor="let annoucement of announcements"
      class="col-12 col-lg-6 col-xl-4 mb-3 d-flex align-items-stretch full_card">
      <div class="card w-100">
        <div class="card-body d-flex body">
          <!-- first half of the card -->
          <div class="d-flex flex-column col-9">
            <div class="d-flex mb-2 image">
              <img src="/assets/user.jpg" alt="image" class="me-2">
              <div>
                <div>{{annoucement?.title}}</div>
                <div>by {{annoucement.user?.firstName}} {{annoucement.user?.lastName}}</div>
              </div>
            </div>
            <div class="description">
              {{annoucement?.description}}
            </div>
          </div>
          <!-- second half of the card -->
          <div class="d-flex flex-column justify-content-between col-3 second__card">
            <div class="d-flex word-wrap svg">
              <img src="/assets/images/icons/today_black_24dp.svg" alt="date" class="svg me-1">
              <div>{{annoucement?.date | date:"yyyy.MM.dd"}} </div>
            </div>
            <div class="d-flex word-wrap svg">
              <img src="/assets/images/icons/location_on_black_24dp.svg" alt="address" class="svg me-1">
              <div>{{annoucement?.address}}</div>
            </div>
            <div class="d-flex word-wrap svg">
              <img src="/assets/images/icons/heart.svg" *ngIf="annoucement?.isLiked" alt="like" class="svg me-1"
                (click)="onLike(annoucement)">
              <img src="/assets/images/icons/heart-outline.svg" *ngIf="!annoucement?.isLiked" alt="like"
                class="svg me-1" (click)="onLike(annoucement)">
              <div>{{annoucement?.participantsCap}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="d-flex justify-content-between">
    <ngb-pagination [(collectionSize)]="totalElements" [pageSize]="8" [(page)]="page" [rotate]="true"
      [boundaryLinks]="true" (pageChange)="getAnnouncement()"></ngb-pagination>
    <button type="button" class="btn btn-outline-primary" (click)="createAnnouncement()">Create Announcement</button>
  </div>

</div>
