<form *ngIf="user" [formGroup]="changeForm" (ngSubmit)="onSubmit()" class="m-5">
  <h1 class="mb-4 text-center">Settings</h1>
  <div class="d-flex justify-content-between">
    <!-- left panel -->
    <div>
      <div class="d-flex mb-5">
        <div class="me-2">
          <img src="/assets/user.jpg" alt="user image">
        </div>
        <div class="d-flex h4">
          {{user.firstName}} {{user.lastName}}
        </div>
      </div>
      <!-- forms + inputs -->
      <div>
        <!-- firstName -->
        <div class="d-flex mb-4">
          <span class="h4 text__input me-4">
            Old pass
          </span>
          <input type="password" class="form-control" formControlName="oldPass">
        </div>
        <!-- lastName -->
        <div class="d-flex mb-4">
          <span class="h4 text__input me-4">
            New pass
          </span>
          <input type="password" class="form-control" formControlName="newPass">
        </div>
        <!-- email -->
        <div class="d-flex mb-4">
          <span class="h4 text__input me-4">
            Confirm pass
          </span>
          <input type="password" class="form-control" formControlName="confirmPass">
        </div>
        <!--  -->
        <div class="d-flex mb-4">
          <span class="text__input me-4"></span>
          <span>Enter personal information about you. This information will appear on your public profile.</span>
        </div>
        <!-- button -->
        <div class="d-flex mb-4">
          <span class="text__input me-4"></span>
          <button type="submit" class="btn btn-outline-primary w-25">Send</button>
        </div>
        <!-- forgot pass -->
        <div class="d-flex">
          <span class="text__input me-4"></span>
          <div (click)="openRecovery()" class="recovery">
            Forgot pass?
          </div>
        </div>
      </div>
    </div>
    <!-- right panel -->
    <div>
      <app-selection-menu></app-selection-menu>
    </div>
  </div>
</form>
