img {
  width: 80px;
  height: 80px;
}

.text__input {
  flex: 0 0 131px;
}

textarea { 
  resize: none; 
}

:host {
  width: 100%;
  height: 100%;
}

.recovery {
  color: #0d6efd;
  text-decoration: underline;
  cursor: pointer;
}