.blue {
  background-color: #228AC7;
}

.return {
  background-color: #E2E4E5;
  color: #000000;
  box-shadow: 0px 4px 4px #0101015c;
  font-weight: bold; 
}

.size {
  border-radius: 50%;
  border: 1px solid black;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

select {
  background-color: #F6FAF8;
}